<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687063890710-qgb9o23uof5u4odb1lhr7b13bdtd0kjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687063890710-qgb9o23uof5u4odb1lhr7b13bdtd0kjb</string>
	<key>API_KEY</key>
	<string>AIzaSyAMQTbNyDC36Hm6IiW2h4H10pwkcHlGDyM</string>
	<key>GCM_SENDER_ID</key>
	<string>687063890710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.example.FriendlyChatExample</string>
	<key>PROJECT_ID</key>
	<string>messaging-prueba-19b27</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-prueba-19b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687063890710:ios:6059b30a56b73dbbb72e37</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-prueba-19b27-default-rtdb.firebaseio.com</string>
</dict>
</plist>